* {
    padding: 5px;
    font-family: 'Inter';
}

body {
    /* background-image: url('https://img.freepik.com/free-photo/photo-background-green-textured-wall-rolling-floor-studio-photography-background-illuminated_1258-82807.jpg?t=st=1732612389~exp=1732615989~hmac=6d5fcb7c1f963801d15fe9b94736b06dbfa90faf20c767745d2c64e691daa50c&w=740'); */
    /* background-image: url('https://images.unsplash.com/photo-1529784851955-974f39c37e41?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-color: #002129; /* Fallback color */
    background-image: url('/bg-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}